.main{
	background-image: linear-gradient(#0B3249, #000000)
}

.graph-container {
	border-style: solid;
	border-width: 2px;
	color: #000000;
	border-color: #ffffff;
	display: inline-block;
}

.graph {
	background-color: #000000;
}

.white-path line, .whitePath path {
	stroke: #ffffff;
}

.white-text text {
	fill: #ffffff;
}

.text{
	color: #ffffff;
}

.button-holder{
  padding: 5px;
  width: 180px;
}

#button-group{
  padding-top: 15px;
}

#stonks{
  font-family: "Courier New", Courier, monospace;
  font-size: 48px;
  padding-bottom: -15px;
  font-weight: bold;
  text-align: center;
  color: black;
  background-color: #1853BA;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: white;
}
