.main{
	background-image: linear-gradient(#0B3249, #000000)
}

.graph-container {
	border-style: solid;
	border-width: 2px;
	color: #000000;
	border-color: #ffffff;
	display: inline-block;
	padding-bottom: 10px;
	margin: 15px
}

.graph {
	background-color: #000000;
}

.white-path line, .whitePath path {
	stroke: #ffffff;
}

.white-text text {
	fill: #ffffff;
}

.text {
	color: #ffffff;
}

#input-selections {
	background-color: #15628E;
	color: black;
	padding: 15px;
	border-radius: 20px;
	margin: 15px;
}

#bottom-bar{
	padding: 5px;
	color: black;
  background-color: #15628E;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: white;
}

#stonks{
  font-family: "Courier New", Courier, monospace;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: black;
  background-color: #15628E;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: white;
}
