{% extends "_base.html" %}

{% block title %}Placeholder{% endblock %}

{% block head %}
<title>Stonks</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/style.css" asp-append-version="true" >
{% endblock head %}

{% block body %}
<div class="main">
	<div id="stonks">
		Stonks
	</div>
	<div class="container">
		<div class="row">
			<!-- graph column -->
			<div class="col-xl" id="col-graph">
				<!-- graph div -->
				<div class="text" style="padding:5px">
					<h1>COVID-19's effects on currency exchange rates</h1>
					<br>The data shown below is for COVID-19 cases in China, Japan, the U.K., France, Italy, and Germany, with currency conversions from USD to Chinese and Japanese Yen, Pounds Sterling, and Euros, from 20 January 2020 to 20 April 2020.
					<br><br>This is to be customizable in the final stage of the project.
				</div>
				<div class="graph-container" id="graph1-container" p.solid {border-style: solid;}>
					<svg class="graph" id="graph1" height="600">
					</svg>
				</div>
			</div>
		</div>
		<!-- sidebar for buttons and legend -->
		<div class="row">
			<!-- button group -->

			<!-- <div id="button-group" class="col no-gutters"> -->
				<!-- choose dataset -->
				<!-- <div id="left-dataset" class="dropdown button-holder">
					<button class="btn btn-primary dropdown-toggle btn-block" type="button" data-toggle="dropdown">
							Left Side Dataset
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item">Covid</a>
						<a class="dropdown-item">Currency</a>
					</div>
				</div>

				<div id="right-dataset" class="dropdown button-holder">
					<button class="btn btn-primary dropdown-toggle btn-block" type="button" data-toggle="dropdown">
							Right Side Dataset
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item">Covid</a>
						<a class="dropdown-item">Currency</a>
					</div>
				</div>
			</div> -->


				<div id="input-selections">
					<div class="row">
						<!-- left side:currencies	 -->
						<div class="col">
							<div>
								Left Axis
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
								<label class="form-check-label" for="defaultCheck1">
									Default checkbox
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
								<label class="form-check-label" for="defaultCheck2">
									Disabled checkbox
								</label>
							</div>
						</div>
						<!-- right side:countries -->
						<div class="col">
							<div>
								Right Axis
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
								<label class="form-check-label" for="defaultCheck1">
									Default checkbox
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
								<label class="form-check-label" for="defaultCheck2">
									Disabled checkbox
								</label>
							</div>
						</div>
						<dic class="col-auto">
							<button class="btn btn-light mb-2">
								Submit
							</button>
						</dic>
					</div>
				</div>
		</div>
	</div>
</div>
<!-- bottom bar -->
<div id="bottom-bar">
	redesigned-telegram - pd 1. Henry Liu(PM), Clement Chan, Yevgeniy Gorbachev, David Xiedeng
</div>
{% endblock %}

{% block scripts %}
<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script src="/static/js/graph.js" charset="utf-8"></script>
<script src="/static/js/index.js" charset="utf-8"></script>
{% endblock %}
