{% extends "_base.html" %}

{% block title %}Placeholder{% endblock %}

{% block head %}
<title>Stonks</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="./static/css/style.css">
{% endblock head %}

{% block body %}
<div class="main">
	<div id="stonks">
		Stonks
	</div>
	<div class="container">
		<div class="row">
			<!-- sidebar for buttons and legend -->
			<div class="col-auto">
				<div class="row">
					<!-- button group -->
					<div id="button-group" class="col no-gutters">
						<!-- add graph -->
						<div class="button-holder">
							<button id="add-graph" class="btn btn-primary  btn-block">
								Add graph button
							</button>
						</div>
						<!-- transition -->
						<div class="button-holder">
							<button class="btn btn-primary  btn-block">
								Smooth transition
							</button>
						</div>
						<!-- choose dataset -->
						<div class="dropdown button-holder">
							<button class="btn btn-primary dropdown-toggle btn-block" type="button" data-toggle="dropdown">
									Choose a dataset
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/">Covid</a>
								<a class="dropdown-item" href="#">Currency</a>
							</div>
						</div>
					</div>
					<div class="col">
						<!-- Use for Legend later -->
					</div>
				</div>
			</div>
			<!-- graph column -->
			<div class="col-xl" id="col-graph">
				<!-- graph div -->
				<div class="text" style="padding:5px">
					<h1>Deaths, Worldwide</h1>
				</div>
				<div class="graph-container" id="graph1-container" p.solid {border-style: solid;}>
					<svg class="graph" id="graph1" height="600">
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bottom bar -->
<div id="bottom-bar">
	redesigned-telegram - pd 1. Henry Liu(PM), Clement Chan, Yevgeniy Gorbachev, David Xiedeng
</div>
{% endblock %}

{% block scripts %}
<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script src="./static/js/graph.js" charset="utf-8"></script>
<script>
	// gets width of container
	let graph1Container = document.getElementById("col-graph");
	let graph1 = document.getElementById("graph1");
	graph1.setAttribute("width", graph1Container.offsetWidth - 40);

	const date_parse = d3.timeParse("%Y-%m-%d");
	const duration = 10000;

	d3.csv(
		"https://raw.githubusercontent.com/hliu01/redesigned-telegram/master/app/data/covidData/worldwide-aggregated.csv",
		(datum) => {
			return {
				date: date_parse(datum.date),
				confirmed: parseInt(datum.confirmed),
				recovered: parseInt(datum.recovered),
				deaths: parseInt(datum.deaths)
			};
		}
	).then(
		(data) => {
			let graph = new LineGraph(d3.select("#graph1"), {top: 10, bottom: 30, left: 70, right: 70});
			let params = {x: 'date', y: 'deaths'};
			let domain = Graph.domain(data, params);

			graph.generate_axis("bottom", domain.x);
			graph.generate_axis("right", domain.y);

			graph.graph(data, "deaths", params, duration, "white");
		}
	);
</script>
{% endblock %}
